@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<div class="row">
    <div class="col s12 m6 offset-m3">
        <form method="post">
            <div asp-validation-summary="All" class="validation-summary-errors"></div>

            <div class="input-field">
                <input asp-for="Input.Email" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="red-text"></span>
            </div>

            <div class="row center">
                <button type="submit" class="btn waves-effect waves-light teal">
                    Send Reset Email
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
=======
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate">
                        <label asp-for="Input.Email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right" />
                    </div>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Reset
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
>>>>>>> 8da259071b53eaf611f1701a7493e18be3d08c90
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}